#fb_login_button { 
    width: 80px; 
}

#fb_login_button span, 
#fb_login_button iframe {.
    width: 80px !important;
    height: 25px !important;
}

.popover{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=74)";
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
  border: 1px #888888 solid;
  background-color: #70aeff;
  padding: 28px;
}